.heading {
    font-size:25px;
    width:100%;
    margin: 0px;
    box-shadow: 5px 5px 18px aqua;
}
.heading_div {
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color:black;
    box-shadow: 5px 5px 18px aqua;
}
.result_p {
    box-shadow: 0px 0px 10px aqua;
    font-size: 20px;
}
footer {
    position:fixed;
    color:white;
    background: darkgrey;
    bottom:0;
    width:100%;
    text-align: center;
    line-height: 3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
}
canvas {
    border:5px solid white;
    border-radius:20px;
    box-shadow: 5px 5px 10px darkgrey;
    margin-top: 330px;
}